// Fonts Variables

$primaryFont: "Open Sans";
$secondFont: "Inter";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;

// Colors Variables

$primaryColor: #32AF74;
$primaryGradient: linear-gradient(90deg, #32AF74 0%, #13E281 100%);

$black: #212529;
$darkBlack: #000000;
$white: white;

// Container Variables

$containerWidth: 81.25rem;
$containerPadding: 0.94rem;