@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Regular.svg#Inter-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  color: #212529;
  font-size: 1rem;
  line-height: 1.65rem;
}

.wrapper {
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
  padding: 7rem 0;
}

.main {
  min-height: 100vh;
  background: white;
}

svg, img, video {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 100px #32AF74;
          box-shadow: inset 0 0 100px #32AF74;
  border: 2px solid white;
  border-radius: 20px;
}

a, button {
  color: inherit;
  background: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, button:hover {
  opacity: 0.5;
}

.container-2 {
  width: 100%;
  max-width: 83.13rem;
  padding: 0 0.94rem;
  margin: 0 auto;
}

.products {
  width: 100%;
}
.products__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.25rem 2fr;
  grid-template-columns: 1fr 2fr;
  gap: 1.25rem;
}
.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}
.products__section_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.products__column_map-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products__title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.75rem;
}
.products__subtitle {
  margin-bottom: 0.75rem;
}
.products__text_big {
  font-size: 1.125rem;
  line-height: normal;
}
.products__price {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  margin-bottom: 2.5rem;
}
.products__input {
  max-width: 33.125rem !important;
}
.products__title-mini {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.25rem;
}
.products__tel {
  font-weight: 700;
  line-height: 1.65rem;
}
.products__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.products__tape-btn {
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #32AF74;
  background: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.products__tape-btn::before {
  content: "";
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
}
.products__tape-btn_yandex::before {
  height: 1.75rem;
  width: 8.61rem;
  background-image: url("../images/yandex-icon.svg");
}
.products__tape-btn_two-gis::before {
  height: 1.7rem;
  width: 5.15rem;
  background-image: url("../images/two-gis-icon.svg");
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  margin-bottom: 1.25rem;
}
.products__list-item {
  list-style-type: disc !important;
}
.products__form-text {
  margin-top: 2.5rem;
  color: #000000;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}
.products__column_map-text + .products__column iframe {
  height: 28.125rem;
  width: 33.125rem;
}
.products__img-wrapper {
  width: 100%;
  margin-bottom: 2.5rem;
}
.products__img {
  width: 100%;
}

.stub-navbar {
  height: 23.6875rem;
  background: #212529;
}

.stub-form {
  height: 35.125rem;
  background: #212529;
}

.input-1 {
  height: 2.6875rem;
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-1__input {
  height: 100%;
  width: 100%;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  border: 1px solid #32AF74;
  padding: 0.75rem;
  color: #212529;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: normal;
}
.input-1__input::-webkit-input-placeholder {
  color: #757575;
}
.input-1__input::-moz-placeholder {
  color: #757575;
}
.input-1__input:-ms-input-placeholder {
  color: #757575;
}
.input-1__input::-ms-input-placeholder {
  color: #757575;
}
.input-1__input::placeholder {
  color: #757575;
}
.input-1__btn {
  height: 100%;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  background: -webkit-gradient(linear, left top, right top, from(#32AF74), to(#13E281));
  background: linear-gradient(90deg, #32AF74 0%, #13E281 100%);
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  padding: 0.75rem;
}

.navbar {
  margin-bottom: 1.25rem;
}
.navbar__text {
  font-family: "Inter";
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.015rem;
}

@media all and (max-width: 1200px) {
  .products__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .products__section_map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__column_map-text + .products__column iframe {
    width: 100%;
  }
  .products__tape-wrapper {
    margin-top: 2.5rem;
  }
}
@media all and (max-width: 500px) {
  .products__title {
    font-size: 2rem;
  }
}